<!DOCTYPE html>
<html>
  <head>
    <title>Lumina Academy Portal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/<%=cssFile%>">
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/events">Events</a>
      <a href="/contact">Contact</a>
    </nav>
