

.home-events {
  margin-top: 3rem;
}

#events {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.event {
  background-color: #203142;
  color: #6d9dd1;
  border-radius: 8px;
  /* padding: 10px; */
  transition: transform 0.2s, box-shadow 0.2s;

  /* display: grid;
  grid-template-columns: 1fr 1fr; */

  min-width: 300px;
  position: relative;

    min-height: 300px;
}
.event:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.event h3 {
    margin: 0 0 10px;
    color: #00b0f0;
    background-color: rgba(0, 0, 0, 0.671);
    z-index: 1; /* Ensure it appears above the image */
    position: absolute;
    top: 2rem;
    left: 50%; /* Center horizontally */
    transform: translate(-50%, 0); /* Proper centering */
    padding: 8px;
    text-align: center;
    border-radius: 12px;
}
.event .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.event p {
    margin: 5px 20px;
    text-align: center;
}

.event img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}