* {
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #00152b; /* light gray */
    color: #abf7f8;
    line-height: 1.6;
    /* overflow-x: hidden; */
}

h1, h2, h3 {
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
nav {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    text-align: center;
}
  
nav a {
    color: white;
    margin: 0 1rem;
    font-weight: 500;
}
  
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
}

main {
    height: 100vh;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  filter: brightness(60%);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #abf7f8;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}