<%- include('../partials/header') %>

<div class="tContainer">
    <div class="box" id="box">
            <img src="images/checklist.png">
            <h2>Thank you!</h2>
            <p>Your details have successfully been submitted</p>
            <button id="close-btn" type="button">Close</button>
    </div>
</div>

  <script>
    document.getElementById('close-btn')
      .addEventListener('click', () => {
        window.location.href = '/contact';
      });
  </script>

<%- include('../partials/footer') %>